<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <error-page>
        <location>/WEB-INF/jsp/errors/error.jsp</location>
    </error-page>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>sessionLocaleFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>teacherFilter</filter-name>
        <url-pattern>/teacher/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>studentFilter</filter-name>
        <url-pattern>/student/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>coursesFilter</filter-name>
        <url-pattern>/teacher/courses/*</url-pattern>
        <url-pattern>/student/courses/*</url-pattern>
        <url-pattern>/student/registered/*</url-pattern>
    </filter-mapping>
    <jsp-config>
        <taglib>
            <taglib-uri>customtags</taglib-uri>
            <taglib-location>WEB-INF/tld/custom.tld</taglib-location>
        </taglib>
    </jsp-config>
</web-app>