<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <property
                name="pattern_file">%d{HH:mm:ss} [%t] %-5level %logger{5} - %msg%n
        </property>
        <property
                name="pattern_console">%d{HH:mm:ss} [%t] %-5level %logger{1} - %msg%n
        </property>
    </Properties>
    <Appenders>
        <File name="file" filename="logs/text.log" bufferedIO="true">
            <PatternLayout pattern="${pattern_file}"/>
        </File>
        <Console name="console">
            <PatternLayout pattern="${pattern_console}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="file" level="error"/>
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>